<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery received notification</title>
</head>
 
     
<body style="background-color: #ffffff">

    <div style = "margin:auto">

    <table >
        <thead>
            <tr> <td colspan="2"> <h1 style="text-align: center;">You have a new delivery!</h1></td></tr>             
        </thead>
        <tbody>
            <tr><td colspan="2"><h4>Please go to receptioin desk to collect your delivery in time, thank you. </h4></td></tr>             
            <tr><td> Deposit Time</td><td><%=data.datetime %></td></tr>             
        </tbody>
    </table>
</div>
</body>
</html>