      
       
    
            <div class="card border-primary " style="min-width: 300px;height:50rem">
                <div class="card-body ml-3 mr-3 mt-5">
                    <div class="card-title text-center"><h2>Create a new appointment</h2></div>
                    <!--div>
                        <button type="button" class="btn btn-info btn-xxs text-uppercase" style="padding:1px 1px;">Selet a contact from MyContacts</button>
                    </div-->
                    <div>
                        <form action="/admin/appointment" method="post" id="register-form">
                            
                            <div class="input-style has-icon input-style-1 input-required">
                                <i class="input-icon fa fa-book"></i>
                                <span>Subject</span>
                                <input type="text" placeholder="Subject" name="subject">
                            </div> 

                            <div class="input-style has-icon input-style-1 input-required">
                                        <i class="input-icon fa fa-user"></i>
                                        <span>Name</span>
                                        <em>(required)</em>
                                        <input type="text" placeholder="Name" name="contactname" required value="<%= data.contact.firstname %>">
                            </div> 

                            <div class="input-style has-icon input-style-1 input-required">
                                <i class="input-icon fa fa-at "></i>
                                <span>Email</span>   
                                <em>(required)</em>                    
                                <input type="email" placeholder="Email" name="email" required value=<%= data.contact.email %>>
                            </div>

                            <div class="input-style has-icon input-style-1 input-required">
                                <i class="input-icon fa fa-building"></i>
                                <span>Company Name</span>                                                
                                <input type="text" placeholder="Company Name" name="companyname" value="<%= data.contact.companyname %>">
                            </div> 
                            
                            <div class="input-style has-icon input-style-1 input-required">
                                <i class="input-icon fa fa-clock-o"></i>
                                <span>Appointment Time</span>   
                                     
                                <input type="datetime-local" placeholder="Appointment Time" name="preregistertime" required>
                            </div> 
                            

                            <div class="input-style input-style-1 input-required">
                                <span>Duration</span>
                                <em><i class="fa fa-angle-down"></i></em>
                                <select class="form-control" name="duration">
                                    <option value="0" disabled selected>Select meeting duration</option>
                                    <option value="30">30 mins</option>
                                    <option value="60">1 hour</option>
                                    <option value="120">2 hours</option>
                                    <option value="180">3 hours</option> 
                                </select>
                            </div>
                            
                            <div class="input-style has-icon input-style-1 input-required">
                                <i class="input-icon fa fa-building"></i>
                                <span>Location</span>                    
                                <input type="text" placeholder="Location" name="location">
                            </div> 

                            <div class="input-style input-style-1 input-required">
                                <span>Description of the appointment</span>
                                <textarea  class="form-control" placeholder="Description of the appointment" name="description"></textarea>
                            </div>

                            
                           
                            
                            <div class="fac fac-checkbox fac-green"><span></span>
                                <input id="box3-fac-checkbox" type="checkbox" value="0" checked name="sendinvite">
                                <label for="box3-fac-checkbox">Send an invite to the contact</label>
                            </div>

                            <input   type="text"   id="contactid" name="contactid" hidden value= "<%= data.contact.id %>"/>

                            <div class="divider diverder-margins bg-blue2-dark mb-2"></div>
        
                            <button type="submit" class="btn btn-primary text-uppercase ">Create</button>
                            <button type="reset" class="btn btn-secondary text-uppercase">Reset</button>
                            
                             
                        </form>
                    </div>
                </div>
            
            </div>

   



 



    <script>
   
   $(function(){
         
    $("#register-form").submit((evt)=>{
        evt.preventDefault();
        
        const formdata = $("#register-form").serialize();

        $.ajax(
            {
                url: $("#register-form").attr('action'),
                type: $("#register-form").attr('method'),
                data:formdata,
                success:(data)=>{
                    if(data.result==='ok'){
                        showNotification("Appointment created", data.description||"");
                    }
                    else{
                        showNotification("Appointment creation failed", data.description||"");
                    }

                    $("#register-form").trigger('reset');
                },
                error: (err)=>{
                    console.error(err);
                    showNotification("Appointment creation failed", "Appointment creation failed");
                     

                }
            }
        );


    });
       

        

  })();


</script>
</body>
</html>