<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Your Website</title>
    <style>
    .div2{
        width:     calc(100% - 200px);}
        </style>
</head>

<body>
    <form>
        <h2>青春不常在，抓紧谈恋爱</h2>
        <table width="500" cellpadding="10">
            <tr>
                <td>性别</td>
                <td>
                    <label for="gender1">男</label> <input type="radio" name="gender" id="gender1">
                    <label for="gender2">女</label><input type="radio" name="gender" id="gender2"><br />
                </td>
            </tr>
            <tr>
                <td>生日</td>
                <td>
                    <select>
                        <option>--请选择年--</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2000</option>
                        <option>2002</option>
                    </select>
                    <select>
                        <option>--请选择月--</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <select>
                        <option>--请选择日--</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    </select><br />
                </td>
            </tr>
            <tr>
                <td>所在地区</td>
                <td>
                    <select>
                        <option>--请选择--</option>
                        <option>湖南</option>
                        <option>湖北</option>
                        <option>北京</option>
                        <option>四川</option>
                        <option>广东</option>
                        <option>浙江</option>
                    </select><br />
                </td>
            </tr>
            <tr>
                <td>婚姻状况</td>
                <td>
                    <label for="no">未婚</label><input type="radio" id="no" name="marriage">
                    <label for="yes">已婚</label><input type="radio" id="yes" name="marriage">
                    <label for="break">离婚</label><input type="radio" id="break" name="marriage"><br />
                </td>
            </tr>
            <tr>
                <td> <lable>*First Name:</lable></td>
                <td><input type="text" value="" placeholder="visitor first name" /></td> 
           </tr>
            <tr>
                <td>学历</td>
                <td>
                    <select>
                        <option>幼儿园</option>
                        <option>小学</option>
                        <option>初中</option>
                        <option>高中</option>
                        <option>本科</option>
                        <option>硕士</option>
                        <option>博士</option>
                    </select><br />
                </td>
            </tr>
            <tr>
                <td>喜欢的类型</td>
                <td>
                    <label for="1">妩媚的</label><input type="checkbox" id="1" name="like">
                    <label for="2">可爱的</label><input type="checkbox" id="2" name="like">
                    <label for="3">小鲜肉</label><input type="checkbox" id="3" name="like">
                    <label for="4">老腊肉</label><input type="checkbox" id="4" name="like">
                    <label for="5">都喜欢</label><input type="checkbox" id="5" name="like"><br />
                </td>
            </tr>
            <tr>
                <td>自我介绍</td>
                <td>
                    <textarea cols="50" rows="2">自我介绍</textarea><br />
                </td>
            </tr>
            <tr>
                <td>自我介绍2</td>
                <td>
                    <input type="text" value="免费注册"><br />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="免费注册"><br />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" id="agree"><label for="agree">我同意注册条款和会员加入标准</label><br />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="http://baidu.com">我是会员，立即登录</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <h4>我承诺</h4>
                    <ul>
                        <li>年满18岁、单身</li>
                        <li>抱着严肃的态度</li>
                        <li>真诚寻找另一半</li>
                    </ul>
                </td>
            </tr>
        </table>
        <table width="500" cellpadding="10">
            <tbody>
          
            <tr>
                <td> <lable>*First Name:</lable></td>
                <td><input type="text" value="" placeholder="visitor first name" /></td> 
           </tr>
            <tr> 
                <td><lable>Last Name:</lable></td>
                <td> <input type="text" value="" placeholder="visitor last name" /></td>
            </tr>
            <tr>
                <td><lable>Email:</lable> </td> 
                <td><input type="email" value="" placeholder="Email address" /> </td>
           </tr>
            <tr> 
                <td><lable>*Visiting Time:</lable> </td> 
                <td><input type="datetime" value="" placeholder="visit time" /> <br/></td>
           </tr>
            <tr>
                <td><button type="submit" >Submit</button><button type="reset">Reset</button></td>
          </tr>
          </tbody>
            </table>
    </form>
</body>

</html>