<header class="header-1" style="background-color: gainsboro; position:relative;height:90px;display:flex;"> 
    <div style="text-align: left; margin:10px 10px; padding:10px 10px;float:left">        
       <img src="/image/logo.png" style="display:inline-block;"/>
       <span style="position: relative">ABC Company</span>
    </div>
     <div style="flex-grow: 1;margin:10px 30px;padding:10px;">       
        
        <span style=" text-align: right;position: relative;float:right;"><%= User.name %> </span>
        <img src="/image/icon-man.svg" height = "50" style="float:right;">
    </div>
    

     
</header>