<%- include('./../sticky_html_start') %>
<div id="page">
    <div class="header header-fixed header-logo-center" style="height:70px;z-index: 100000;" >
        <a href="#" class="header-title " style="font-size : 1rem;overflow:hidden;"><img src="/image/logo.png" class="max-auto mr-1 scale-box" height="60"> ABC company</a>
        
        <a  href="#" class="header-icon header-icon-1 mt-2  ml-2" id="sidebarCollapse" >
            <i class="fas fa-bars fa-3x "></i>
        </a>   
             
    </div>

    <!-- footer is removed-->
    
    <div class="page-content header-clear-medium " style="padding-top:80px;background-color: white" id="content">
        
       
    
    
        <div id="dashboard" style="margin:auto;">
            <div class="row">
                <div class="col-6">
                  <div data-card-height="250" class="card card-style rounded-m shadow-xl" style="height: 250px;">
                    <div class="card-top text-left mt-4 ml-3">
                        <h1 class="color-white text-shadow-l font-32">Enabled</h1>
                    </div>
                    <div class="card-center mr-3 text-right">
                        <p class="color-white font-20 bold uppercase line-height-small text-uppercase text-shadow-l font-10 mb-0 pb-0 mt-n2">1234 5678 9012 3456</p>
                    </div>
                    <div class="card-bottom mb-4 mr-3">
                        <i class="fab fa-cc-visa text-shadow-l color-white font-30 mb-1 float-right"></i>
                    </div>
                    <div class="card-bottom mb-4">
                        <div class="text-center text-shadow-l">
                            <p class="color-white font-10 font-800 text-uppercase text-shadow-large font-10 opacity-50 text-uppercase mb-n2">Valid Thru</p>
                            <p class="color-white font-10 font-700 text-uppercase text-shadow-large font-16 mb-0 pb-0">03/2023</p>
                        </div>
                    </div>       
                    <div class="card-bottom line-height-small">
                        <div class="text-left ml-3 mb-4 text-shadow-l">
                            <p class="color-white font-10 font-800 text-uppercase text-shadow-large font-10 opacity-50 text-uppercase mb-n2">Card Holder</p>
                            <p class="color-white font-10 font-700 text-uppercase text-shadow-large font-16 mb-0 pb-0">John Doe</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-gradient opacity-70"></div>
                    <div class="card-overlay bg-gradient bg-gradient-magenta3 opacity-80"></div>
                </div>
                </div>
                <div class="col-6">
                <div data-card-height="250" class="card card-style rounded-m shadow-xl " style="height: 250px;">
                    <div class="card-top text-left mt-4 ml-3">
                        <h1 class="color-white text-shadow-l font-32">Enabled</h1>
                    </div>
                    <div class="card-center mr-3 text-right">
                        <p class="color-white font-20 bold uppercase line-height-small text-uppercase text-shadow-l font-10 mb-0 pb-0 mt-n2">1234 5678 9012 3456</p>
                    </div>
                    <div class="card-bottom mb-4 mr-3">
                        <i class="fab fa-cc-visa text-shadow-l color-white font-30 mb-1 float-right"></i>
                    </div>
                    <div class="card-bottom mb-4">
                        <div class="text-center text-shadow-l">
                            <p class="color-white font-10 font-800 text-uppercase text-shadow-large font-10 opacity-50 text-uppercase mb-n2">Valid Thru</p>
                            <p class="color-white font-10 font-700 text-uppercase text-shadow-large font-16 mb-0 pb-0">03/2023</p>
                        </div>
                    </div>       
                    <div class="card-bottom line-height-small">
                        <div class="text-left ml-3 mb-4 text-shadow-l">
                            <p class="color-white font-10 font-800 text-uppercase text-shadow-large font-10 opacity-50 text-uppercase mb-n2">Card Holder</p>
                            <p class="color-white font-10 font-700 text-uppercase text-shadow-large font-16 mb-0 pb-0">John Doe</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-gradient opacity-70"></div>
                    <div class="card-overlay bg-gradient bg-gradient-magenta3 opacity-80"></div>
                </div>
            </div>
            </div> 
        </div>
         
       
    </div>

  
    <%- include('navigator',{data:{name:data.name ,photo:data.photo}})%>
    
<%- include('./../sticky_html_end') %>

<style>
    header-login-text{
          
          color: black;
    }
    
</style>
<script>
   
  

  
</script>
</body>
</html>

           

