 
 
 
 

  <div class="vertical-nav bg-white " style="margin-top:70px; " id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <a href="#" data-href="/admin/myinfo"> 
      <div class="media d-flex align-items-center">
       
        
            <img src="<%= data.photo %>" alt="..." width="65" height="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                  <h4 class="m-0"><%= data.name %></h4>
                  <p class="font-weight-light text-muted mb-0"></p>
            </div> 
        
      </div>
    </a>
      <div  style="right:1px;" class="mb-1 " style = "padding: 1px 1px;"> 
        <a href="#"  class="btn font-13  btn-info text-uppercase rounded float-right " data-href="/admin/logout" style = "padding: 1px 1px;">
          <i class="fas fa-sign-out-alt " ></i>
           
          <span>Log out</span>
        </a>
      </div>
     
    </div>

    

    <div class="mr-3 ml-3">
      <span class="text-uppercase font-900 font-11 opacity-30">My Visit</span>
      <div class="list-group list-custom-small list-icon-0">
          <a href="#" data-href="/admin/appointment"  >
              <i class="far font-14 fa-calendar-plus color-yellow1-dark"></i>
              <span>Creat a new appointment</span>
              
          </a>        
          <a href="#" data-href="/admin/visitlog">
              <i class="fa font-14 fa-clipboard-list color-blue2-dark"></i>
              <span>My visit Logs</span>              
          </a>        
          
      </div>
  </div>
  <div class="mr-3 ml-3">
    <span class="text-uppercase font-900 font-11 opacity-30">My Contacts</span>
    <div class="list-group list-custom-small list-icon-0">
        <a href="#" data-href="/contact/new">
            <i class="far font-14 fa-user  color-yellow1-dark"></i>
            <span>Creat a new contact</span>
        </a>        
        <a href="#" data-href="/contact/list">
            <i class="fa font-14 fa-address-book color-blue2-dark"></i>
            <span>My contact list</span>            
        </a>        
        
    </div>
  </div>

 <% if(data.role!=="common") {%>
  <div class="mr-3 ml-3">
    <span class="text-uppercase font-900 font-11 opacity-30">System Management</span>
    <div class="list-group list-custom-small list-icon-0">

      <a href="#" data-href="/admin/visitlog?active">
        <i class="far font-14 fa-building color-yellow1-dark"></i>
        <span>Active visits</span>           
    </a>    
    <% if(data.role==="admin") {%>
        <a href="#" data-href="/admin/employee/new">
            <i class="fa font-14 fa-plus color-blue2-dark"></i>
            <span>Creat a new employee</span>
        </a>        
        <a href="#" data-href="/admin/employee/list">
            <i class="fa font-14 fa-list-alt color-blue2-dark"></i>
            <span>Employee list</span>             
        </a>        
    <%}%>    
        
    </div>
  </div>
<%}%>  
    
    

   
  </div>
  <script>
    /*navigator */
   
    </script>
