<div class="card border-primary " style="min-width: 300px;height:50rem">
    <div class="card-body ml-3 mr-3 mt-5">
        <div class="card-title text-center"><h2>Create a new contact</h2></div>
        
        <div>
            <form action=<%= pagedata.url %> method="post" id="contact-form">

                <div class="input-style has-icon input-style-1 input-required">
                            <i class="input-icon fa fa-user"></i>
                            <span>Name</span>
                            <em>(required)</em>
                            <input type="name" placeholder="Name" name="contactname" id="contactname">
                </div> 

                <div class="input-style has-icon input-style-1 input-required">
                    <i class="input-icon fa fa-at color-theme"></i>
                    <span>Email</span>                    
                    <input type="name" placeholder="Email" name="email" id="email">
                </div>

                <div class="input-style has-icon input-style-1 input-required">
                    <i class="input-icon fa fa-building"></i>
                    <span>Company Name</span>                    
                    <input type="text" placeholder="Company Name" id="companyname">
                </div> 
                
                
                <div class="divider diverder-margins bg-blue2-dark mb-2"></div>

                <button type="submit" class="btn btn-primary text-uppercase ">Create</button>
                <button type="reset" class="btn btn-secondary text-uppercase">Reset</button>
                
                 
            </form>
        </div>
    </div>

</div>
<script>
    $("#contact-form").submit((evt)=>{
        evt.preventDefault();

        $.ajax({
            url:$("#contact-form").attr('action'),
            type: $("#contact-form").attr('method'),
            data:{contact:JSON.stringify({name: $("#contactname").val(),
                  email:$("#email").val(),
                  companyname:$("#companyname").val(),
                  })},
            error:(err)=>{
                showNotification("Creation failed","Operation failed!");
            },
            success:(res)=>{
                if(res.result==='ok'){
                    $("#contact-form").trigger('reset');
                    showNotification("Creation successful","New contact is created!");
                }
                else{
                    showNotification("Creation failed",res.description);
                }

            }
        });
    });
</script>