<div class="visitor-card">
    <div class="d-flex" >
        <div class="">
            <img src="/image/icon-man.svg" style="width:50px;" class="may-auto"> </img> 
        </div>
        <div class="ml-1">
            <div>
                <strong> <%= visitor.firstname + " " + visitor.lastname%></strong>
            </div>
            <div>
               <%= visitor.email%>
            </div>
             
           <div>
            <a href="#" class="btn font-12  btn-primary" style="padding:1px 1px">button1</a>
            <a href="#" class="btn  font-12 btn-primary" style="padding:1px 1px">button2</a>
           </div>
           <a href="#" class="btn  font-12  btn-primary" style="padding:1px 1px">button1</a> 
        </div>
    </div>
         
</div>
