<%- include('sticky_html_start') %>
<div id="page">
    <div class="header header-fixed header-logo-center">
        <a href="index.html" class="header-title"><img src="/image/logo.png" class="max-auto mr-1 scale-box" height="30">ABC company</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left fa-3x" ></i></a>
        
    </div>

    <!-- footer is removed-->

    <div class="page-content header-clear-medium " style="padding-top:50px;">
        <div class="card " data-card-height="cover">
            <div class="card-center text-center">
                <img src="image/logo.png" class="mx-auto mt-4 scale-box" width="120">
                <h1 class="color-white mt-4 font-40">Receptionist</h1>
                <p class="color-highlight font-12 mt-n1">Powered by Sticky Mobile</p>
                <p class="boxed-text-xl color-white opacity-70 mb-0">
                    ©2020 ABC Company.
                </p>
            </div>
            <div class="card-overlay-infinite preload-img" data-src="images/pictures/_bg-infinite.jpg"></div>
            <div class="card-overlay bg-black opacity-70"></div>
        </div>
    </div>
</div>
<%- include('sticky_html_end') %>
</body>
</html>

