<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming soon</title>
    <script>
        window.onload = ()=>{
            setTimeout(()=>{window.history.back()},5000);
        }
    </script>
</head>
<body>
    <div style="margin:20% auto; text-align: center;">
     <h2>Under construction</h2>
     <img src = "/image/coming-soon.pgn" alt="coming soon"></img>
    </div>
</body>
</html>