<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css2/reception.css">
    <title>Receptionist</title>
    <script>
         
            alert("ok");
        
    </script>
</head>
<body>
     
    <header class="caption-1" >
        <div style="text-align: center;margin:auto;">
        <img src="/image/logo.png"  > <span>ABC Company</span>
        </div>
        <button class="btn-2" onclick()='alert("okdd")'>
            <img src="/image/appointment.png"  height="62" />
            <span>Here for an appointment?<span>
        </button>
    </header>
    
    <session id='container-1'>

        <div class="row-1" >
            <button class="btn-2" onclick()='alert("okdd")'>
                <img src="/image/appointment.png"  height="62" />
                <span>Here for an appointment?<span>
            </button>
            <button class="btn-2 "  >
                <img src="/image/docdropoff.png"  height="62" />
                <span>Document Dropoff<span>
            </button>
       
            <button class="btn-2 ">
                <img src="/image/delivery.png"  height="62" />
                <span>Delivery<span>
            </button>
            <button class="btn-2 ">
                <img src="/image/checkout.png"  height="62" />
                <span>Check Out<span>
            </button>
        </div>
           

    </session>
    <footer id = "footer-1"></footer>
</body>
</html>