<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sad Panda</title>

    <script>
        window.onload= ()=>{
            setTimeout(()=>{window.location.href="/" + redirecturl;},5000);
        };
        </script>
</head>
    

<body>
    <div class="container-1" >
        <p>Sorry, there is an error</p>
         <p> <%= result %></p>
    </div>
</body>
</html>